<div class="container ">
    <div>
        <img src="https://www.flaticon.com/svg/static/icons/svg/877/877951.svg" alt="">
        <h2>Eat-A-Burger</h2>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <ul class="list-group list-group-flush">
                {{#each burger}}
                {{#unless devoured}}
                <div class="d-flex">
                    <li class="list-group-item d-flex">
                        <p>{{id}}.) </p>
                        <p>{{burger_name}}</p>
                    </li>
                    <button class="btn btn-primary">Devour</button>
                </div>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div>
            <ul class="list-group">
                {{#each burger}}
                {{#if devoured}}
                <li class="list-group-item d-flex">
                    <p>{{id}}.) </p>
                    <p>{{burger_name}}</p>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div>
        <form id="burgerForm">
            <div>
                <textarea id="burgerText" type="text" name="burger"></textarea>


            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>

<script>
    $('#burgerForm').on('submit', (event) => {
        event.preventDefault()
        const newBurger = { burger_name: $('#burgerText').val().trim() }
        console.log(newBurger)
        $.ajax('/api/burgers', {
            type: 'POST',
            data: newBurger
        })
            .then(function () {
                console.log('created new burger')
                location.reload()
            })
    })
</script>